<!doctype html>
<html lang="en">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=PT+Sans&display=swap');
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="../script.js"></script>
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/view.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/logo/logo2.png" type="image/icon type">

    <title>Taste - Profile</title>

</head>

<body>
    <%- include('partials/header.ejs') %>
        <div class="container-fluid">
            <!--HEADER-->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>

            <div id="profile-upper">
                <% if (msg !== "") {%>
                    <div class="alert alert-<%- type %> alert-dismissible fade show text-center" role="alert" style="margin: 0;">
                        <strong><%- title %></strong>
                        <%- msg %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% } %>
                        <div id="profile-banner-image">
                            <img class="upperimg" src="/images/elements/background.jpg" alt="Banner image">
                        </div>

                        <div id="profile-d">
                            <div id="profile-pic">
                                <img src="/images/profile/<%= UserModel.user_image %>">
                            </div>
                            <div id="u-name">
                                <%= UserModel.firstname %>
                                    <%= UserModel.lastname %>
                            </div>
                            <% if(session._id.equals(UserModel._id)){ %>
                                <div class="tb" id="m-btns">
                                    <div class="m-btn"><span data-toggle="modal" data-target="#edit-profile">Edit Profile</span> </div>
                                </div>
                                <% } %>
                        </div>

            </div>
            <div id="main-content">
                <div class="tb">`
                    <div class="td" id="l-col">
                        <div class="l-cnt">
                            <div class="cnt-label">
                                <i class="l-i" id="l-i-i"></i>
                                <span>Intro</span>
                            </div>
                            <div id="i-box">
                                <%= UserModel.Bio %>
                            </div>
                        </div>


                        <div id="t-box">
                            <div id="cpy-nt">Taste &copy; <span id="curr-year">2022</span></div>
                        </div>
                    </div>
                    <div class="td" id="m-col">
                        <div class="m-mrg" id="p-tabs">
                            <div class="tb">
                                <div class="td">
                                    <div class="tb" id="p-tabs-m">
                                        <div class="td active"><span>POSTS</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% posts.forEach(function (posts) {   %>
                            <div class="container">
                                <div class="row mt-5 mb-5">
                                    <div class="col d-flex justify-content-center">
                                        <div class="card" style="width: 60%;">
                                            <div class="card-header" id="card-header">
                                                <div class="header-account">
                                                    <a href="view.html"><img src="/images/profile/<%= posts.user_image %>" alt="defaultDP" class="rounded-circle img-DP large-dp d-inline-block" style="height : 50px; width: 50px;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Profile"></a>

                                                    <h5 class="username-mainheader d-inline-block ml-1">
                                                        <%= posts.username %>
                                                    </h5>
                                                </div>
                                            </div>
                                            <a href="/review/view/<%= posts._id %>" data-bs-placement="bottom" title="View Post"><img class="card-img-top card-home" src="/images/posts/<%= posts.image_post %>" alt="Card image cap"></a>
                                            <div class="card-body" id="card-body-home">
                                                <a href="/review/view/<%= posts._id %>">
                                                    <h5 class="card-title" data-bs-placement="left" title="View Post">
                                                        <%= posts.restaurant_name %>
                                                    </h5>
                                                </a>
                                                <div class="body-header">
                                                    <h6 class="card-subtitle text-muted" id="card-subtitle" style="margin: 0; padding: 0;">
                                                        <%= posts.food_name %>
                                                    </h6>
                                                    <div class="body-rating">
                                                        <p class="card-text float-right font-italic">
                                                            Rating:
                                                            <%= posts.rating %>/10
                                                        </p>
                                                    </div>
                                                </div>

                                                <p class="card-text" style="margin-top: 10px;">
                                                    <%= posts.review %>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <%});%>
                    </div>
                </div>
            </div>

            <!-- Pop Up Modal for Edit Profile -->
            <div class="modal fade" id="edit-profile">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Profile</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
                            <div class="container">
                                <div class="row flex-lg-nowrap">

                                    <div class="col">
                                        <div class="row">
                                            <div class="col mb-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="e-profile">
                                                            <div class="row">
                                                                <div class="col-12 col-sm-auto mb-3">
                                                                    <div class="mx-auto" style="width: 140px;">
                                                                        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                                            <img class="d-flex justify-content-center align-items-center rounded" style="height: 140px; width:140px; object-fit: cover; border: 1px solid lightgray;" src="/images/profile/<%= UserModel.user_image %>" alt="Rudeus">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                                                        <h5 class="pt-sm-2 pb-1 mb-0 text-nowrap">
                                                                            <%= UserModel.firstname %>
                                                                                <%= UserModel.lastname %>
                                                                        </h5>
                                                                        <p class="mb-0">@
                                                                            <%= UserModel.username %>
                                                                        </p>
                                                                        <!-- ACCOUNT USER IMAGE FORM -->
                                                                        <form class="col" method="post" action="/profile/edit/image" enctype="multipart/form-data">
                                                                            <input type="hidden" value="<%= UserModel.id %>" name="id">
                                                                            <div class="row mt-3">
                                                                                <label for="formFile" class="form-label">Attatch an image:</label>
                                                                                <input class="form-control" type="file" id="formFile" name="user_image" required>
                                                                                <input class="btn btn-success" type="submit" id="formFile" value="Change Profile Picture" style="margin-top: 10px;">
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-content pt-3">
                                                                <div class="tab-pane active">
                                                                    <div class="form">
                                                                        <div class="row">
                                                                            <!-- Change Account Details Form-->
                                                                            <form class="col" method="post" action="/profile/edit" enctype="multipart/form-data">
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <input type="hidden" value="<%= UserModel.id %>" name="id">
                                                                                        <div class="form-group">
                                                                                            <label>First Name</label>
                                                                                            <input class="form-control" type="text" placeholder="<%= UserModel.firstname %>" value="<%= UserModel.firstname %>" name="firstname" required>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col">
                                                                                        <div class="form-group">
                                                                                            <label>Last Name</label>
                                                                                            <input class="form-control" type="text" placeholder="<%= UserModel.lastname %>" value="<%= UserModel.lastname %>" name="lastname" required>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col">
                                                                                        <div class="form-group">
                                                                                            <label>Username</label>
                                                                                            <input class="form-control" type="text" placeholder="<%= UserModel.username %>" value="<%= UserModel.username %>" name="username" required>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <div class="form-group">
                                                                                            <label>Email</label>
                                                                                            <input class="form-control" type="text" placeholder="<%= UserModel.email %>" value="<%= UserModel.email %>" name="email" required>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col mb-3">
                                                                                        <div class="form-group">
                                                                                            <label>About</label>
                                                                                            <textarea class="form-control" rows="5" name="bio"><%= UserModel.Bio %> </textarea>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div>
                                                                                    <input class="full-width btn btn-success" type="submit" id="login-submit" value="Change Details">
                                                                                </div>
                                                                            </form>
                                                                        </div><br><br>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="form">
                                                                        <div class="row">
                                                                            <div class="col-12 col-sm-6 mb-3">
                                                                                <div class="mb-3">
                                                                                    <h5>Change Password</h5>
                                                                                </div>
                                                                                <br>
                                                                                <form method="post" action="/profile/edit/password">
                                                                                    <!-- Change Password Form-->
                                                                                    <div class="row">
                                                                                        <input type="hidden" value="<%= UserModel.id %>" name="id" required>
                                                                                        <!-- Will be used for query later -->
                                                                                        <input type="text" value="<%= UserModel.password %>" name="actual_currentPW" hidden>

                                                                                        <div class="col">
                                                                                            <div class="form-group">
                                                                                                <label>Current Password</label>
                                                                                                <input class="form-control" type="password" placeholder="••••••••" name="current_password" required minlength="3" maxlength="20">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col">
                                                                                            <div class="form-group">
                                                                                                <label>New Password</label>
                                                                                                <input class="form-control" type="password" name="new_password" required minlength="6" maxlength="20">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col">
                                                                                            <div class="form-group">
                                                                                                <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                                                                                                <input class="form-control" type="password" name="confirm_password" required minlength="6" maxlength="20">
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div id="message"></div>
                                                                                    <input class="full-width btn btn-success" type="submit" id="login-submit" value="Change Password">
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="server.js"></script>
</body>

</html>